In [82]:
# Task 1: 
minutes_in_week = 60*24*7

# Task 2: 
remainder = 2304811 - 2304811//47 * 47

# Task 3: 
div_by_three = (673%3 == 0) and (909%3==0)

# Task 4: 
x, y = -9, 1/2
2**(y+1/2) if x+10 < 0 else 2**(y-1/2)

# Task 5:
{x**2 for x in {1, 2, 3, 4, 5}}

# Task 6:
{2**x for x in {0, 1, 2, 3, 4}}

# Task 7:
{x*y for x in {1,2,3} for y in {5,6,7}}

# Task 8:
{x*y for x in {1,2,4} for y in {0,8,16}}

# Task 9:
S, T = {1,2,3,4}, {3,4,5,6}
{s for s in S if s in T}

{3, 4}

In [101]:
# Task 10: 
lst = [20, 10, 15, 75]
n_lst = len(lst)
sum(lst)/n_lst

# Task 11:
A, B = ['A', 'B', 'C'], [1, 2, 3]
[[l, n] for l in A for n in B]

# Task 12:
LofL = [[.25, .75, .1], [-1, 0], [4, 4, 4, 4]]
sum([sum(l) for l in LofL])

16.1

In [105]:
# Task 13:
S = {-4, -2, 1, 2, 5, 0}
[ (i, j, k)
  for i in S
  for j in S
  for k in S
  if sum([i, j, k]) == 0
]

# no zero
[ (i, j, k)
  for i in S
  for j in S
  for k in S
  if sum([i, j, k]) == 0 and (0 not in [i,j,k])
]

[(1, 1, -2), (1, -2, 1), (2, 2, -4), (2, -4, 2), (-4, 2, 2), (-2, 1, 1)]

In [111]:
# Task 16:
len(set([3, 3, 3]))

1

In [120]:
# Task 17:
[x for x in range(1,100,2)]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [130]:
# Task 18:
L = ['A', 'B', 'C', 'D', 'E']
list(zip(range(len(L)), L))

# Task 19:
L, M = [10, 25, 40], [1, 15, 20]
[sum(x) for x in list(zip(L, M))]

[11, 40, 60]

In [165]:
# Task 20:
dlist = [
  {'James': 'Sean', 'director': 'Terence'}, 
  {'James':'Roger', 'director':'Lewis'},
  {'James': 'Pierce','director': 'Roger'}
]
k = 'James'

[dlist[i][k] for i in range(len(dlist))]

# Task 21:

dlist = [
  {'Bilbo': 'Ian', 'Fredo': 'Elijah'}, 
  {'Bilbo':'Martin', 'Thorsin':'Richard'},
]
k = 'Fredo'

[
  dlist[i][k] if k in dlist[i].keys() else 'NOT PRESENT' 
  for i in range(len(dlist))
]

['Elijah', 'NOT PRESENT']

In [166]:
# Task 22:
{key:key**2 for key in range(99)}

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604}

In [184]:
# Task 23:
D = {'red', 'white', 'blue'}
{key:key for key in D}

{'red': 'red', 'white': 'white', 'blue': 'blue'}

In [208]:
# Task 25:
id2salary = {0:1000, 3:990, 1:1200.5}
names = ['Larry', 'Curly', '', 'Moe']
{names[key]:id2salary[key] for key in id2salary.keys()}

{'Larry': 1000, 'Moe': 990, 'Curly': 1200.5}

In [238]:
# Task 26:
def next_ints(L):
  return [e+1 for e in L]

# Task 27:
def cubes(L):
  return [l**3 for l in L]

# Task 28:
def dict2list(dct, keylist):
  return [dct[k] for k in keylist]

# Task 29:
def list2dict(L, keylist):
  return {k:v for k, v in zip(keylist, L)}

L = ['A', 'B', 'C']
keylist = ['a', 'b', 'c']